.add-btn .add-icon, .remove-btn .remove-icon {
    border-radius: 6px;
    box-shadow: 0 7px 17px 0 rgba(28, 53, 88, 0.03);
    background-color:var(--primary-color);
    color: #fff;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove-btn .remove-icon {
    font-size: 24px;
}